<h2>Контакты22222</h2>

<form action="/contacts" method="POST" role="form">
	<div class="form-group">
    	<label>Ваш email</label>
    	<input name="email" type="text" class="form-control" placeholder="Ваш email">
  	</div>

	<div class="bd-example m-0 border-0">
    	<div class="form-floating">
  			<textarea name="text" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  			<label for="floatingTextarea2">Ваш комментарий</label>
		</div>

  	</div>
  
  	<button type="submit" class="btn btn-primary">Записаться</button>
</form>